asgiref
async-timeout
attrs
autobahn
Automat
cffi
channels
channels-redis
constantly
cryptography
daphne
Django
dj-database-url
django-cors-headers
djangorestframework
djangorestframework-simplejwt
hyperlink
idna
gunicorn
incremental
jwt
msgpack
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
redis
service-identity
six
sqlparse
Twisted
gunicorn
txaio
typing_extensions
zope.interface
psycopg2-binary
